<%= link_to "Create User", new_user_path, class: "btn btn-primary" %>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @wallets.each do |wallet| %>
            <tr>
              <td><%= wallet.id %></td>
              <td><%= wallet.name %></td>
              <td><%= link_to "Show Balance", balance_user_path(:id => wallet.id) %> | 
                <%= link_to "Show Transactions", transactions_user_path(:id => wallet.id) %> | 
                <%= link_to "Deposit", transaction_new_path(:wallet_id => wallet.id, :type_id => 1) %> | 
                <%= link_to "Transfer", transaction_new_path(:wallet_id => wallet.id, :type_id => 2) %> | 
                <%= link_to "Withdraw", transaction_new_path(:wallet_id => wallet.id, :type_id => 3) %></td>
            </tr>
        <% end %>
  </tbody>

</table>