
<% if params[:type].blank? %>
  <center>
    <h1>Welcome to Transactional App</h1>
    <h5>Please select menu above</h5>
  </center>
<% else %>
    <%= link_to "Create #{params[:type]}", new_wallet_path(:type => params[:type]), class: "btn btn-primary" %>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @wallets.each do |wallet| %>
                <tr>
                  <td><%= wallet.id %></td>
                  <td><%= wallet.name %></td>
                  <td><%= link_to "Show Balance", balance_wallet_path(:id => wallet.id) %> | 
                    <%= link_to "Show Transactions", transactions_wallet_path(:id => wallet.id) %> | 
                    <%= link_to "Deposit", transaction_wallet_path(:id => wallet.id, :type_id => 1) %> | 
                    <%= link_to "Transfer", transaction_wallet_path(:id => wallet.id, :type_id => 2) %> | 
                    <%= link_to "Withdraw", transaction_wallet_path(:id => wallet.id, :type_id => 3) %></td>
                </tr>
            <% end %>
      </tbody>

    </table>
<% end %>